.back-button-container {
  position: absolute;
  top: 1.25rem; 
  left: 1.25rem;
  cursor: pointer;
  display: flex;
  align-items: center; 
  color: #000 !important;
  font-size: 1.5rem !important; /* 18px */
  /* background-color: var(--primary-light); */
  background-color: transparent !important;
  padding: 0.5rem 0.75rem; /* 8px 12px */
  border-radius: 0.5rem;
  /* box-shadow: 0 0.125rem 0.375rem rgba(0, 0, 0, 0.1); */
  transition: 0.2s ease;
}

.back-button-icon {
  margin-right: 0.5rem;
}

.login-body{
  width: 100%;
  height: 100svh;
  padding: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/* Login Page Styles */
.login-container {
  background: linear-gradient(to right, #e0f7ff, #ffffff);
  padding: 2.5rem; /* 40px */
  border-radius: 0.75rem;
  box-shadow: 0 0 1.875rem rgba(59, 130, 246, 0.25);
  width: 80%;
  max-width: 500px;
}

.login-header {
  text-align: center;
  margin-bottom: 2rem;
}

.login-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  margin-bottom: 1.25rem;
}

.login-logo-icon {
  font-size: 1.75rem;
  padding: 0.625rem;
  color: white;
  background-color: var(--primary-light);
  border-radius: 0.625rem;
}

.login-title {
  font-size: 2rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
  color: var(--primary);
}

.login-welcome {
  color: #e1ad01;
  font-size: 1.25rem;
  font-weight: 500;
  margin-top: 0.375rem;
}

.login-subtitle {
  text-align: center;
  color: #64748b;
  font-size: 0.875rem;
  margin-bottom: 1.5rem;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.login-input-box {
  display: flex;
  flex-direction: column;
  position: relative;
}

.login-label {
  font-size: 0.875rem;
  color: #334155;
  margin-bottom: 0.375rem;
  font-weight: 500;
  text-align: left;
}

.login-input {
  padding: 0.75rem 0.875rem 0.75rem 2.5rem;
  border: 1px solid var(--primary-light);
  border-radius: 0.5rem;
  background-color: #f9fafb;
  color: black;
  font-size: 0.875rem;
  width: 100%;
}

.login-input:focus {
  border-color: var(--primary);
  background-color: white;
}

.login-input-icon {
  position: absolute;
  left: 0.75rem;
  top: 3rem;
  color: #94a3b8;
  font-size: 1rem;
}

.login-remember {
  text-align: left;
  font-size: 0.9375rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.login-checkbox {
  margin-right: 0.625rem;
}

.login-submit-btn {
  padding: 0.75rem;
  font-size: 0.9375rem;
  font-weight: 600;
  color: white;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--primary);
  cursor: pointer;
  transition: all 0.3s ease;
}

.login-submit-btn:hover {
  background-color: var(--primary-dark);
}

.login-signup {
  margin-top: 1rem;
  color: #64748b;
  text-align: center;
  font-size: 0.875rem;
}

.login-signup-link {
  color: #3b82f6;
  text-decoration: none;
  font-weight: 500;
}

.login-signup-link:hover {
  text-decoration: underline;
}


/* Responsive Styling */
@media screen and (max-width: 768px) {
  .login-container {
    width: 90%;
    padding: 2rem;
    margin-top: 2rem;
  }

  .back-button-container {
    top: 1rem;
    left: 1rem;
    font-size: 0.9rem !important;
    padding: 0.5rem 0.75rem;
  }

  .login-logo-icon {
    font-size: 1.5rem;
    padding: 0.5rem;
  }

  .login-title {
    font-size: 1.25rem;
  }

  .login-welcome {
    font-size: 1rem;
  }
}
